__pycache__/
results/
r0486848.csv
r0486848_means.png
r0486848_bests.png
r0486848_last_distribution.png
r0486848_stdev_distances.png
algorithm_profile.txt
r0486848_last_population.txt
r0486848.log
stresstest.log
optimize_hyperparameters_50.log
optimize_hyperparameters_100.log
optimize_hyperparameters_150.log
optimize_hyperparameters_200.log
optimize_hyperparameters_500.log
optimize_hyperparameters_1000.log
compare_parameters.log
r0486848_hyperparameter_optimization_results.txt
r0486848_hyperparameter_optimization_results_50.txt
r0486848_hyperparameter_optimization_results_100.txt
r0486848_hyperparameter_optimization_results_150.txt
r0486848_hyperparameter_optimization_results_200.txt
r0486848_hyperparameter_optimization_results_500.txt
r0486848_hyperparameter_optimization_results_1000.txt